# these are random environment variables use them when in your own official .env and add your own values

# Port
PORT=8668

# Http Links
NGROK_FORWARDING="https://************************.ngrok-free.app" #for development usecase for payment testing

CLIENT_BASE_URL="http://************:PORT" #frontend development server

#Random 64 bytes token for authentication
ACCESS_TOKEN_SECRET="******************************************************************"
REFRESH_TOKEN_SECRET="*****************************************************************"

#Database connection
DATABASE_URL="**************************************************"

# Payments API key
MOLLIE_API_KEY="*****************************"
