@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* mobile hidden nav-menu */
  .nav-menu > span {
    @apply text-lg bg-white border-black font-semibold border-2 pl-6 pr-3 py-2 flex justify-between items-center;
  }

  .nav-menu > span:hover {
    @apply cursor-pointer bg-black text-white scale-105 transition-all;
  }

  .nav-menu > span:active {
    @apply bg-gray-200 text-black;
  }

  /* desktop nav-menu */
  .nav-menu-desk {
    @apply flex justify-around items-center gap-12 text-lg font-semibold;
  }

  .nav-menu-desk a {
    @apply cursor-pointer relative;
  }

  .nav-menu-desk a::before {
    @apply absolute transition-all content-[""] w-[0%] h-[0.15rem] -bottom-1 left-0 bg-gray-400;
  }
  .nav-menu-desk a:hover::before {
    @apply w-full;
  }

  .stopHover::before {
    @apply w-1/2 left-1/2 -translate-x-1/2 !important;
  }

  .btn-signUp {
    @apply relative border-2 border-black overflow-hidden px-2 py-1 font-semibold text-sm transition-all;
  }

  .btn-signUp:hover {
    @apply text-white bg-black scale-110;
  }
  .btn-signUp:active {
    @apply text-black bg-white;
  }

  /* contact grid section */
  .grid-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 350px));
    grid-template-rows: repeat(2, minmax(50px, auto));
    gap: 1rem;

    & > textarea {
      @apply rounded-md px-3 py-2;
      grid-column: span 2;
      background-color: #f5f5f5;
    }
  }
}
